
body {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    
}

header {
    padding: 25px 0;
 
}

.caja {

    width: 940px; /* La mayoría de las pantallas tienen 1280px de  ancho */
    position: relative;
    margin: 0 auto;
}

.logo {
    width: 30%;
    height: auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
   display: inline;
   margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;

}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;

}

.productos {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    display: table-row;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;

}

.productos li:hover{
    border-color: #c78c19;
}

.productos li:active{
    border-color: #088c19;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;

}

.producto-descripcion {
    font-size: 13px;
    
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    
}

footer {
    text-align: center;
    background: url(/img/bg.jpg);
    padding: 40px;
}

.copyright {
    color: white;
    font-size: 12px;
    margin: 20px;
}

form{
    margin: 40px 0;
    display: inline-block;
    
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 2px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 50%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #000000;
    border: none;
    border-radius: 25px;
    transition: 2s background;
    cursor: pointer;
}

.enviar:hover {
    background: rgb(54, 8, 101);
    /* transform: scale(1.4) rotate(45deg); */
    transition: 1s;

}

table {
    margin: 40px 40px;
}

thead {
    background: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*Inicia Css página inicial (index.html)*/
#banner {
    width: 100%;
    height: 400px;
}
/*
main > p { /* Pinta todos los elementos hijos ...en este caso elemento > hijo. Con el signo '>' 
    background: red;
}

img + p { /* Pinta el PRIMER elemento después de la imagen. Con el signo '+' 
    background: purple;
}


/* pinta todos los párrafos DESPUÉS DE LA IMAGEN, con el signo '~'
img ~ p {
    background: greenyellow;
}


/* Pinta todos los elementos excluyendo el que se encuentra en el parámetro 
.principal p:not(#mision) {
    background: #c78c19;
}
*/

.principal {
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 1em 0 1em;
    clear: left;
     /* text-shadow: 8px 8px purple;  También puedo aplicar sombras a los textos*/
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient( #FEFEFE, #888888);
    color: #2f2d2dde;
}

.mapa p {
    margin: 0 0 1.5em;
    text-align: center;
}

.mapa-contenido {
    width: 940px;
    margin: 0 auto;
}

.diferenciales {
    padding: 3em 0;
    background: #888888;
    color: #303030;
    /* box-shadow: inset 0 0 30px rgba(232, 9, 9, 0.57); inset es una propiedad que definimos en (0,0) coordenadas */
}

.contenido-diferenciales {
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 1.5;
}

.items:before {
    content:"🟀"
}

.items:first-child {
     font-weight: bold;

}

.img-diferenciales {
    width: 60%;

    transition: 400ms; /* Propiedad para darle un tiempo de transición al elemento*/
    box-shadow: 10px 10px 20px 19px #000000; /* Propiedad para aplicar sombra. Manejamos 5 parámetros: (eje Y, eje X, difuminación, expansión, color)*/
                                    /*Mucho cuidado con el juego de ejes ya que es en sentido HORARIO*/
}

.img-diferenciales:hover {
    opacity: 0.3; /* Propiedad para aplicar opacidad al elemento. NOTA:a todos los elementos puedo aplicarles opacidad y color */
    
}

.video {
    width: 60%;
    margin: 1em auto;
    background: linear-gradient(black, #888888);
    align-items: center;
}

@media screen and (max-width:480px) { /*  marcar un elemento para que se presente de otra manera a través de una condición*/
    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }
  
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video {
        width: auto;
    }

    .lista-diferenciales, .img-diferenciales {
        width: 100%;
    }
}